<div class="input__profile {{style}}">
  <label class="input__profile_label" for="{{name}}">{{label}}</label>
  <input
    class="input__profile_name"
    type="{{type}}"
    name="{{name}}"
    value="{{value}}"
  />
</div>
